body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

nav {
  background-color: white;
  /* display: flex; */
  width: 100%;
  border: 2px solid red;
  padding: 10px;
  /* overflow-y: scroll; */
}
.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 5px;
  padding-inline: 10px;
  background-color: #f0f5ff;
  width: 50%;
}

/* .sss {
  left: -120px;
} */

input {
  border: none;
  background-color: inherit;
  width: 90%;
}

.login-button:hover {
  background-color: rgb(4, 123, 213);
  color: white;
}
.login-button:hover img {
  filter: brightness(0) invert(1);
}

p {
  margin: 0px;
}

.search-icon {
  margin-left: 40px;
  background-color: #d3e5f4;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-bar {
  width: 100%;
  background-color: #d3e5f4;
  border: 2px solid #d3e5f4;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown:hover .user-icon {
  filter: brightness(0) invert(1);
}

.dropdown:hover .btn-light {
  background-color: rgb(0, 100, 211);
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.sign-up {
  margin-left: 30px;
  color: rgb(0, 100, 211);
}

.profile,
.flipkart-plus,
.orders,
.wishlist,
.rewards,
.gift-card {
  display: flex;
}

.space {
  margin-right: 10px;
}

#cart {
  margin-left: 30px;
}

.cart-image {
  margin-right: 5px;
}

#seller {
  margin-left: 30px;
}

.seller-image {
  margin-right: 5px;
}

#menu {
  border: none;
  margin-left: 50px;
  background-color: #f8f9fa;
  color: black;
}

.preference,
.customer-care,
.advertise,
.download-app {
  display: flex;
}

.dropdown-menu-left {
  left: auto;
  right: 0;
}

.space-2 {
  margin-right: 5px;
}

.main-container {
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.grocery {
  height: 100px;
  width: 100px;
}

.container-1 {
  height: 267px;
  background-color: lightgray;
}

.container-3 {
  display: flex;
  justify-content: space-around;
}

.container-4 {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid white;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.help-container {
  display: flex;
  flex-direction: column;
}

.consumer-container {
  display: flex;
  flex-direction: column;
}

.social-container {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}

footer a {
  text-decoration: none;
  color: inherit;
}

.container-5 {
  height: 300px;
  background-color: white;
  margin-bottom: 10px;
}

.in-container {
  display: flex;
  justify-content: space-around;
}

.card-1 {
  height: 250px;
  width: 200px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elec {
  margin-left: 10px;
  margin-bottom: 10px;
}

.e-1 {
  height: 150px;
  width: 150px;
}

.info {
  margin: 10px;
  background-color: white;
  color: gray;
  padding: 10px;
}

@media (max-width: 1416px) {
  /* .search-bar {
    width: 500px;
    background-color: #d3e5f4;
    border: 1px solid #d3e5f4;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  } */

  .search-icon {
    height: 38px;
  }

  /* #nav-wd {
    width: 100vh;
  } */
}
